* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page-header {
  background-color: #fafafa;
  display: flex;
  justify-content:space-between;
  //padding:1.25em;
  border-bottom: 1px solid rgba(0, 0, 0, .6);
  width: 100%;
  flex-direction: row;
}

@media(max-width:505px) {
  .page-header .buttons {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    li {
      width:calc(50% - 10px);
      a {
        width:100%;
        margin:0 0 10px;
        padding:12px 0;
        text-align:center;
        white-space: nowrap;
      }
    }
  }
}

@media(max-width:700px) {
  .page-header {
    flex-wrap:wrap;
    .title, .nav-buttons {
      width: 100%;
      justify-content:center;
    }
  }
}

//container for the logo and game title

.title {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo-main {
  margin: auto;
  align-items: center;
  display: inline-block;
  //width: 30%;
}

.logo {
  //display: inline-block;
  //height: 45px;
  //margin: 2em 0;
  //width: 45px;

  height: 140px;
  padding: 0 10px;
  width: 140px;
  margin: 0px 10px;
}

//container for the nav buttons

.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: flex-end;
  margin: 10px 10px;
}

.buttons {
  flex-direction: row;
  //border: 2px solid;
  //color: rgba(0, 0, 0, .6);
  display:flex;
  align-items:center;
}

.nav-buttons a:link {
  text-decoration: none;
  flex-direction: row;
  color: white;
  text-align: center;
  display: inline-block;

  font-family: Poppins, system-ui, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 11px;
  letter-spacing:.18em;
  text-transform: uppercase;

  padding: 12px 18px;
  border: 2px solid rgba(0, 0, 0, .6);
  margin: 5px;
}

.nav-buttons a:hover {
  color: white;
  background-color: rgba(0,0,0,.6);
  border-color: black;
}

//li {
//  flex-direction: row;
//  border: 2px solid rgba(0, 0, 0, .6);
//  color: rgba(0, 0, 0, .6);
//  padding: 5px;
//  margin: 10px;
//  font-family: futura-pt;
//  font-weight: 600;
//  font-style: normal;
//  font-size: 11px;
//  letter-spacing:.18em;
//  text-transform: uppercase;
//}