.home-container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  h1 {
    margin-bottom:.3em;
  }
  h3 {
    margin-bottom:1.25em;
  }
  ul {
    margin-bottom:1.25em;
    li {
      line-height:1.5em;
    }
  }
  img {
    max-width:100%;
    margin-bottom:40px;
  }
}