.our-definitions-container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  ul {
    margin-bottom:1.25em;
  }
  li {
    line-height:1.5;
    margin-bottom:1.25em;
  }
  strong {
    font-weight:bold;
  }
  .blue {
    color:$blue;
  }
  .orange {
    color:$orange;
  }
  .green {
    color:$green;
  }
  .pink {
    color: $pink;
  }
  .purple {
    color: $purple;
  }
  .light-gray {
    color: $lightgray;
  }
}