.our-definitions-container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  ul {
    margin-bottom:1.25em;
  }
  li {
    margin-bottom:1.25em;
  }
  strong {
    font-weight:bold;
  }
}