/* Variables */
@import './variables/variables';

/* Fonts */
@import './fonts/system';

/* Partials */
@import './partials/reset';
@import './partials/header';
@import './partials/footer';

/* Pages */
@import './pages/home';

body {
  font-family: 'Poppins', system-ui, sans-serif;
  background-color:$backgroundColor;
  color:$fontColor;
  padding-bottom:40px;
}

.content-container {
  padding:20px;
}

h1 {
  font-size:1.5em;
  font-weight:bold;
  margin-bottom:20px;
}
h2 {
  font-size:1.25em;
  font-weight:bold;
  margin-bottom:20px;
}

p {
  line-height:1.5;
  margin-bottom:20px;
}

label {
  display:inline-block;
  margin-bottom:10px;
}

button {
  display:block;
  width:100%;
  background-color:#000;
  color:#fff;
  border:0;
  padding:1em;
  letter-spacing:1px;
  font-size:1em;
  max-width:400px;
  margin:0 auto;
}

input {
  display:block;
  width:100%;
  padding:1em;
  font-size:1em;
}