/* *** BACKGROUND COLORS *** */
$backgroundColor:#fff;

/* *** FONT COLORS *** */
$fontColor:#000;
$blue: #6BCBD9;
$pink: #C44062;
$purple: #6C4B9E;
$green: #97C63F;
$orange: #D3834D;
$lightgray:#C2C1C1;
$darkgray: #424242;

